<div class="container" style="padding-top: 150px;">
<div>    
  <a href="/formcreatecomment" routerLinkActive="active" class="btn btn-primary">
    Add
  </a>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>   
      <th scope="col">Comment</th>       
      <th scope="col">Date</th> 
      <th scope="col">User Name</th> 
      <th scope="col">User Email</th> 
      <th scope="col">Modificar</th>  
      <th scope="col">Remove</th>  
    </tr>
  </thead>
    
  <tbody>        
    <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><a href="/comments/<%= data[i]._id %>"><%= data[i].comm_comment %></a></td>
          
          <td><%= data[i].comm_date %></td>

          <td><%= data[i].comm_user.user_name %></td>
          <td><%= data[i].comm_user.user_email %></td>
          <td><a href="/formupdatecomment/<%= data[i]._id %>" type="button" class="btn btn-info">Modificar</a></td>

          <td>
          <form method="POST" action="/comments/<%= data[i]._id %>?_method=DELETE">
            <input type="button" value="Eliminar" onclick="eliminar(this)" class="btn btn-danger">
              
          </form>
        </tr>      
    <% } %>      
  </tbody>
</table>
</div>

<script>

function eliminar(input)
					{
						var deleteOk = confirm('¿Estás seguro de eliminar la película?')
						return (deleteOk) ? input.parentNode.submit() : false
					}

  </script>
